.imagecentre222 {
    width: 220px;
    height: auto;
    position: absolute;

    //max-width: 1200px;
    @media (max-width: 480px) {
        width: 140px;
    
      }
}
.img2222 {
    width: 451px;
    height: auto;
    position: absolute;
    
    //max-width: 1200px;
    @media (max-width: 480px) {
        width: 293px;
    
      }
}
.contener{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    //background-color: blue;
    width: 100%;
    height: 100px;
    @media (max-width: 480px) {
        height: 50px;
        margin-bottom: 50px;
    
      }

}